body {
    -webkit-touch-callout: none ;
    -webkit-text-size-adjust: none ; -ms-text-size-adjust: none ;
    -webkit-user-select: none ; -moz-user-select: none ; -ms-user-select: none ; user-select: none ;
    -webkit-highlight: none ;
    -webkit-tap-highlight-color: rgba(0,0,0,0) ;
    -webkit-tap-highlight-color: transparent ;      /* For some Androids */
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
html {
    -ms-touch-action: pan-x ;
}

/* Recommended for Windows 8 Phone */
/* SOURCE: http://www.excellentwebworld.com/common-problems-solution-for-windows-phone-8-phonegap */
body {
    -ms-touch-action: pan-y ;
    -ms-content-zooming: none ;
}

/* allow copy-paste */
input, textarea  {
    -webkit-user-select: text ; -moz-user-select: text ; -ms-user-select: text ; user-select: text ;
}

body {
    /* margin: 0.5rem ; */
    background: white ;
    color: black ;
    height: 100%;
    padding: 0;
}

.align-center {
    text-align: center ;
}
#menu ul {
width:800px; /* Dimensioni della barra del menu */
padding:0;
margin:0 auto;
display:block;
list-style-type:none; /* Stile della lista */
}
#menu li {
    position:fixed;
display:inline; 
    bottom:0;
}
.header{
    overflow:hidden;
  background-color:#404040;
  position: fixed;
    text-decoration-color: grey;
  top: 0;
  width: 100%;
    height: 6%;
    padding-left: 10px;
    padding-bottom: 0px;
    padding-top: 10px;
    margin-top: 0px;
    margin-top: 0px;
    border-bottom-width: 4px;
    border-bottom-color: black;
}



font{
    color: white;
    
}
.navbar {
  overflow: hidden;
  background-color: #b3b3ff;
  position: fixed;
  bottom: 0;
  width: 100%;
    height: 6%;
    border-bottom: 10px;
    border-bottom-color: aqua;
}

.bottonplus{
    display: inline;
}
.navbar a:hover {
  background: #b3b3ff;
  color: black;
}

.navbar a.active {
  background-color: #4CAF50;
  color: #b3b3ff;
}

